In [1]:
import pandas as pd
pd.__version__

'1.0.5'

# `pd.read_excel()`

Read an [Excel](https://www.microsoft.com/en-us/microsoft-365/excel) file.

The [Documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)

## Reading in files

In [2]:
df = pd.read_excel('data/pf.xlsx')
df

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

### Parameters skipped to be revisited...