In [2]:
import pandas as pd
pd.__version__

'1.0.5'

### Parameters skipped to be revisited...
`true_values`  
`false_values`  
`skipinitialspace`  
`parse_dates`  
`infer_datetime_format`  
`keep_date_col`  
`date_parser`  
`dayfirst`  
`cache_dates`  
`iterator`  
`chunksize`  
`compression`  
`lineterminator`  
`quotechar`  
`quoting`  
`doublequote`  
`escapechar`  
`comment`  
`encoding`  
`dialect`  
`low_memory`  
`memory_map`  
`storage_options`  
`float_precision`

# `pd.read_csv()`

Read a [comma-separated values (csv)](https://en.wikipedia.org/wiki/Comma-separated_values) file into DataFrame.

The [Documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)

## Reading in files

In [2]:
df_from_local_file = pd.read_csv('data/pf.csv')
df_from_local_file

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [3]:
df_from_online_file = pd.read_csv('https://egmgem.com/pf.csv')
df_from_online_file

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

## Reading in using the `sep` or `delimiter` parameters
By default, the `sep` and the `delimiter` parameters use the **`comma`** as the separator. You can specify what to use as the separator.

In [4]:
df_comma = pd.read_csv('data/pf-comma.csv', sep = ',')
df_comma

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [5]:
df_3 = pd.read_csv('data/pf-3.csv', sep = '3')
df_3

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [6]:
df_z = pd.read_csv('data/pf-z.csv', sep = 'z')
df_z

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [7]:
df_colon = pd.read_csv('data/pf-colon.csv', sep = ':')
df_colon

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [8]:
df_semicolon = pd.read_csv('data/pf-semicolon.csv', sep = ';')
df_semicolon

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [9]:
df_space = pd.read_csv('data/pf-space.csv', sep = ' ')
df_space

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [10]:
df_dash = pd.read_csv('data/pf-dash.csv', delimiter = '-')
df_dash

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [11]:
df_tab = pd.read_csv('data/pf-tab.csv', delimiter = '\t')
df_tab

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

## Reading in using the `header` parameter

By default `header = 0`. You have to specify the line number to use from which to get the column names. If set to `None`, then numbers will be used to indicate the column names.

In [12]:
df_header = pd.read_csv('data/pf-with-header.csv')
df_header

      Extra line
Item    Quantity
Book          10
Pen            9
Ruler          5
Bag            2

In [13]:
df_header = pd.read_csv('data/pf-with-header.csv', header = 1)
df_header

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [14]:
df = pd.read_csv('data/pf-no-header.csv', header = None)
df

       0   1
0   Book  10
1    Pen   9
2  Ruler   5
3    Bag   2

## Reading in using the `names` parameter

For this to work, `header` must be set to the row number containing column names which will be over-written by the command.

In [15]:
df_names = pd.read_csv('data/pf-with-header.csv', names = ['Thing', 'Amount'])
df_names

        Thing    Amount
0  Extra line       NaN
1        Item  Quantity
2        Book        10
3         Pen         9
4       Ruler         5
5         Bag         2

In [16]:
df_names = pd.read_csv('data/pf-with-header.csv', names = ['Thing', 'Amount'], header = 1)
df_names

   Thing  Amount
0   Book      10
1    Pen       9
2  Ruler       5
3    Bag       2

## Reading in using the `index_col` parameter

In [17]:
df_col = pd.read_csv('data/pf-col-index.csv')
df_col

  Index   Item  Quantity
0     a   Book        10
1     b    Pen         9
2     c  Ruler         5
3     d    Bag         2

In [18]:
df_col = pd.read_csv('data/pf-col-index-switched.csv', index_col = 'Index')
df_col

        Item  Quantity
Index
a       Book        10
b        Pen         9
c      Ruler         5
d        Bag         2

In [19]:
df_col = pd.read_csv('data/pf-col-index-switched.csv', index_col = 2)
df_col

        Item  Quantity
Index
a       Book        10
b        Pen         9
c      Ruler         5
d        Bag         2

In [20]:
df_col = pd.read_csv('data/pf-col-index-switched-multi.csv', index_col = ['Index', 'Code'])
df_col

             Item  Quantity
Index Code
a     z1     Book        10
b     y2      Pen         9
c     x3    Ruler         5
d     w4      Bag         2

In [21]:
df_col = pd.read_csv('data/pf-col-index-switched-multi.csv', index_col = [2,3])
df_col

             Item  Quantity
Index Code
a     z1     Book        10
b     y2      Pen         9
c     x3    Ruler         5
d     w4      Bag         2

## Reading in using the `usecols` parameter

In [22]:
df_uc = pd.read_csv('data/pf-col-index-switched-multi.csv', usecols = [0,1])
df_uc

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [23]:
df_uc = pd.read_csv('data/pf-col-index-switched-multi.csv', usecols = ['Item', 'Quantity'])
df_uc

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

## Reading in using the `squeeze` parameter
By default it is `False`. If set to `True`, and if only one column is read in, the result is returned as a **Series**.

In [24]:
df_sqd = pd.read_csv('data/pf.csv', usecols = ['Item'])
df_sqd

    Item
0   Book
1    Pen
2  Ruler
3    Bag

In [25]:
df_sqs = pd.read_csv('data/pf.csv', usecols = ['Item'], squeeze = True)
df_sqs

0     Book
1      Pen
2    Ruler
3      Bag
Name: Item, dtype: object

In [26]:
type(df_sqd), type(df_sqs)

(pandas.core.frame.DataFrame, pandas.core.series.Series)

## Reading in using the `prefix` parameter

In [27]:
df = pd.read_csv('data/pf-no-header.csv', header = None, prefix = 'pfc_')
df

   pfc_0  pfc_1
0   Book     10
1    Pen      9
2  Ruler      5
3    Bag      2

## Reading in using the `mangle_dupe_cols` parameter
By default, it is set to `True`. It appends a number to the column name to differentiate it from previous columns. If set to `False`, then data will be overwritten. However, setting it to `False` is not supported in implementation.

In [28]:
df = pd.read_csv('data/pf-duplicate.csv', mangle_dupe_cols = True)
df

    Item  Quantity  Quantity.1
0   Book        10          13
1    Pen         9           4
2  Ruler         5           8
3    Bag         2           3

## Reading in using the `dtype` parameter

In [29]:
df = pd.read_csv('data/pf-with-price.csv', dtype = {'Item' : str, 'Quantity' : int, 'Price' : float})
df

    Item  Quantity  Price
0   Book        10  300.0
1    Pen         9   45.0
2  Ruler         5   50.0
3    Bag         2  500.0

In [30]:
df.dtypes

Item         object
Quantity      int64
Price       float64
dtype: object

## Reading in using the `engine` parameter
Parser engine to use. The C engine is faster while the python engine is currently more feature-complete.  
You don't see anything different in the output, since the effect is in the background. However, for parameters that have been implemented in python and not C, a warning will be raised.

In [31]:
df = pd.read_csv('data/pf.csv', engine = 'c')
df

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [32]:
df = pd.read_csv('data/pf.csv', engine = 'python')
df

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

## Reading in using the `converters` parameter
Dictionary of functions for converting values in certain columns. Keys can either be integers or column labels.

In [33]:
def double(x):
    x = int(x)
    return x * 2

def square_root(x):
    x = int(x)
    return round(x ** (1/2),2)

df = pd.read_csv('data/pf-with-price.csv', converters = {'Quantity' : double, 2 : square_root})
df

    Item  Quantity  Price
0   Book        20  17.32
1    Pen        18   6.71
2  Ruler        10   7.07
3    Bag         4  22.36

## Reading in using the `skiprows` parameter.

Line numbers to skip, or number of lines to skip at the start of the file.

In [34]:
df = pd.read_csv('data/pf-with-header.csv', skiprows = 1)
df

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [35]:
df = pd.read_csv('data/pf-with-header.csv', skiprows = [0,2])
df

    Item  Quantity
0    Pen         9
1  Ruler         5
2    Bag         2

In [36]:
df = pd.read_csv('data/pf-with-header.csv', skiprows = lambda x: x in [0,2,4])
df

  Item  Quantity
0  Pen         9
1  Bag         2

## Reading in using the `skipfooter` parameter
Example where use of `engine` parameter is useful, as the documentation says: Number of lines at bottom of file to skip (Unsupported with `engine='c'`).

In [37]:
df = pd.read_csv('data/pf.csv', skipfooter = 1)
df

/home/gitonga/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5

In [38]:
df = pd.read_csv('data/pf.csv', skipfooter = 1, engine = 'python')
df

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5

## Reading in using the `nrows` parameter
Number of rows of file to read.

In [39]:
df = pd.read_csv('data/pf.csv', nrows = 2)
df

   Item  Quantity
0  Book        10
1   Pen         9

## Reading in using `na_values` parameter

In [82]:
df = pd.read_csv('data/pf-with-missing-values.csv')
df

     Item  Quantity
0    Book      10.0
1     Pen       9.0
2   Ruler       5.0
3     Bag       2.0
4      -1       3.0
5  Eraser       NaN

In [83]:
df = pd.read_csv('data/pf-with-missing-values.csv', na_values = -1)
df

     Item  Quantity
0    Book      10.0
1     Pen       9.0
2   Ruler       5.0
3     Bag       2.0
4     NaN       3.0
5  Eraser       NaN

## Reading in using the `keep_default_na` parameter

In [84]:
df = pd.read_csv('data/pf-with-missing-values.csv', keep_default_na = True)
df

     Item  Quantity
0    Book      10.0
1     Pen       9.0
2   Ruler       5.0
3     Bag       2.0
4      -1       3.0
5  Eraser       NaN

In [85]:
df = pd.read_csv('data/pf-with-missing-values.csv', keep_default_na = False)
df

     Item Quantity
0    Book       10
1     Pen        9
2   Ruler        5
3     Bag        2
4      -1        3
5  Eraser

In [86]:
df = pd.read_csv('data/pf-with-missing-values.csv', keep_default_na = True, na_values = -1)
df

     Item  Quantity
0    Book      10.0
1     Pen       9.0
2   Ruler       5.0
3     Bag       2.0
4     NaN       3.0
5  Eraser       NaN

In [87]:
df = pd.read_csv('data/pf-with-missing-values.csv', keep_default_na = False, na_values = -1)
df

     Item Quantity
0    Book       10
1     Pen        9
2   Ruler        5
3     Bag        2
4     NaN        3
5  Eraser

## Reading in using the `na_filter` parameter

In [88]:
df = pd.read_csv('data/pf-with-missing-values.csv', na_values = -1, na_filter = False)
df

     Item Quantity
0    Book       10
1     Pen        9
2   Ruler        5
3     Bag        2
4      -1        3
5  Eraser

In [89]:
df = pd.read_csv('data/pf-with-missing-values.csv', na_values = -1, na_filter = True)
df

     Item  Quantity
0    Book      10.0
1     Pen       9.0
2   Ruler       5.0
3     Bag       2.0
4     NaN       3.0
5  Eraser       NaN

## Reading in using the `skip_blank_lines` parameter

In [90]:
df = pd.read_csv('data/pf-with-missing-values.csv', skip_blank_lines = False)
df

     Item  Quantity
0    Book      10.0
1     Pen       9.0
2   Ruler       5.0
3     Bag       2.0
4      -1       3.0
5     NaN       NaN
6  Eraser       NaN

In [91]:
df = pd.read_csv('data/pf-with-missing-values.csv', skip_blank_lines = True)
df

     Item  Quantity
0    Book      10.0
1     Pen       9.0
2   Ruler       5.0
3     Bag       2.0
4      -1       3.0
5  Eraser       NaN

## Reading in using the `verbose` parameter

In [94]:
df = pd.read_csv('data/pf.csv', verbose = False)
df

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [96]:
df = pd.read_csv('data/pf.csv', verbose = True)
df

Tokenization took: 0.01 ms
Type conversion took: 0.33 ms
Parser memory cleanup took: 0.01 ms

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

## Reading using the `thousands` parameter

In [4]:
df = pd.read_csv('data/pf-thousands.csv', sep = '-')
df

    Item Quantity
0   Book   10,000
1    Pen    9,000
2  Ruler    5,000
3    Bag    2,000

In [6]:
df.dtypes

Item        object
Quantity    object
dtype: object

In [12]:
df = pd.read_csv('data/pf-thousands.csv', sep = '-', thousands = ',')
df

    Item  Quantity
0   Book     10000
1    Pen      9000
2  Ruler      5000
3    Bag      2000

In [16]:
df.dtypes

Item        object
Quantity     int64
dtype: object

## Reading using the `decimal` parameter

In [20]:
df = pd.read_csv('data/pf-decimal.csv', sep = '-')
df

    Item Quantity
0   Book     10,0
1    Pen      9,0
2  Ruler      5,0
3    Bag      2,0

In [21]:
df = pd.read_csv('data/pf-decimal.csv', sep = '-', decimal = ',')
df

    Item  Quantity
0   Book      10.0
1    Pen       9.0
2  Ruler       5.0
3    Bag       2.0

## Reading using the `error_bad_lines` parameter
This paramter is set to `True` by default.

In [25]:
df = pd.read_csv('data/pf-bad-lines.csv')
df

ParserError: Error tokenizing data. C error: Expected 2 fields in line 6, saw 4

In [27]:
df = pd.read_csv('data/pf-bad-lines.csv', error_bad_lines = False)
df

b'Skipping line 6: expected 2 fields, saw 4\nSkipping line 7: expected 2 fields, saw 4\n'

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

## Reading using the `warn_bad_lines` parameter
The parameter is set to `True` by default

In [29]:
df = pd.read_csv('data/pf-bad-lines.csv', error_bad_lines = False)
df

b'Skipping line 6: expected 2 fields, saw 4\nSkipping line 7: expected 2 fields, saw 4\n'

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

In [31]:
df = pd.read_csv('data/pf-bad-lines.csv', error_bad_lines = False, warn_bad_lines = False)
df

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2

## Reading using the `delim_whitespace` parameter
The parameter is set to `False` by default

In [32]:
df = pd.read_csv('data/pf-space.csv')
df

  Item Quantity
0       Book 10
1         Pen 9
2       Ruler 5
3         Bag 2

In [33]:
df = pd.read_csv('data/pf-space.csv', delim_whitespace = True)
df

    Item  Quantity
0   Book        10
1    Pen         9
2  Ruler         5
3    Bag         2